<div class="container-fluid d-flex justify-content-center">

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">

        <!--Inicio Home-->
              <a class="nav-link texto text-monospace text-uppercase font-weigth-bold p-3" routerLink="/home">Home <span class="sr-only">(página atual)</span></a>
            </li>
        <!--Fim Home-->

        <!--Inicio do Feed--> 
            <li class="nav-item">
              <a class="nav-link texto text-monospace text-uppercase font-weigth-bold p-3" routerLink='/feed'>Feed</a>
            </li>
        <!--Fim do Feed-->

        <!--Inicio Login-->
            <li class="nav-item">
              <a class="nav-link texto text-monospace text-uppercase font-weigth-bold p-3" routerLink='/login'>Login</a>
            </li>
        <!--Fim Login-->

        <!--Inicio Cadastro-->
            <li class="nav-item">
              <a class="nav-link texto text-monospace text-uppercase font-weigth-bold p-3" routerLink='/cadastro'>Cadastro</a>
            </li>
        <!--Inicio Cadastro--> 

          </ul>
        </div>
      </nav>


</div>





