<div class="card border-0" style="width: 18rem;">

    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://drive.google.com/drive/u/0/folders/14QkyejZBB_pvMXIxkVQTfrv9KrrQquZr" alt="Imagem de capa do card">
    </div >
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Raquel Babiski</h5>
      <p class="card-text text-center text-monospace"> Desenvolvedora Web Fullstack Jr.</p>

     <a href="https://www.linkedin.com/in/figueiredo-raquel/" class="btn btn-outline-info mb-3" target="_blank">LinkedIn</a>

     <a href="https://github.com/Figueiredo-Raquel" class="btn btn-outline-dark" target="_blank">GitHub</a>

    </div>
  </div>